<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.snacks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_snacks"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_snacks"
        android:supportsRtl="true"
        android:theme="@style/Theme.Snacks">
        <activity
            android:name=".activity.SobreNosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReceitaSelecionadaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashWinQuizActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReceitasSalvasActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CriarReceitaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AnotacoesSalvasActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CriarAnotacaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PerfilActivity"
            android:exported="false"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RedefinirSenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CadastroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>